vendor/gems/nokogiri-1.3.3/ext/nokogiri/Makefile
vendor/gems/nokogiri-1.3.3/ext/nokogiri/conftest.dSYM/*
vendor/gems/nokogiri-1.3.3/ext/nokogiri/*.o
vendor/gems/nokogiri-1.3.3/ext/nokogiri/*.log
vendor/gems/nokogiri-1.3.3/ext/nokogiri/*.bundle
vendor/gems/nokogiri-1.3.3/lib/nokogiri/nokogiri.bundle
vendor/gems/hpricot-0.8.1/ext/fast_xs/Makefile
vendor/gems/hpricot-0.8.1/ext/fast_xs/fast_xs.bundle
vendor/gems/hpricot-0.8.1/ext/fast_xs/*.o
vendor/gems/hpricot-0.8.1/ext/fast_xs/mkmf.log
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/Makefile
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/conftest.dSYM/*
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/*.o
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/hpricot_scan.bundle
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/mkmf.log
vendor/gems/hpricot-0.8.1/lib/fast_xs.bundle
vendor/gems/hpricot-0.8.1/lib/hpricot_scan.bundle
tmp/*
webrat*html
