=link_to(h(@twitter_account.twitter_login), @twitter_account)
\=&gt;
Followers
%h1 Followers

=link_to(@twitter_account.twitter_login, @twitter_account)
has these followers:
%table{:border => '1'}
  =render :partial => "screen_names"
