%h1 query_detail

%ul
  %li=@query_detail.followers_count
  %li=@query_detail.screen_name
  %li=@query_detail.name
  %li=@query_detail.description
  %li=@query_detail.location
  %li=@query_detail.url
