=link_to(h(@twitter_account.twitter_login), @twitter_account)
\=&gt;
Friends
%h1 Friends

=link_to(@twitter_account.twitter_login, @twitter_account)
is following these twitter accounts:
%table{:border => '1'}
  =render :partial => "screen_names"
