!!!

%html{html_attrs('en-US')}
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    %title Under Development
  %body
    %table.main_table{:width => '98%', :border => '1'}
      %tr.main_tr
        %td.lhs{:valign => 'top'} 
          %a{:href => '/'}About
          %br/
          %br/
          %a{:href => '/login'}Login
          %br/
          %a{:href => '/register'}Register
          %hr/
        %td.rhs{:valign => 'top'}
          =yield
