!!!

%html{html_attrs('en-US')}
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    %title M2
  %body
    %table.main_table{:width => '98%', :border => '1'}
      %tr.main_tr
        %td.lhs{:valign => 'top'} 
          =link_to("Login",:login)
          %br/
          =link_to("Register",:signup)
          %br/
          Logged in as:
          %p{:style => "color:green"}=@the_user
          %br/
          =link_to("Messages",:controller => :static, :action => :messages)
          %br/
          =link_to("Profile",:controller => :static, :action => :profile)
          %br/
          =link_to("Logout",:controller => :user_sessions, :action => :destroy)

        %td.rhs{:valign => 'top'}
          -if flash[:notice]
            %p{:style => "color:green"}= flash[:notice]
          -if flash[:success]
            %p{:style => "color:green"}= flash[:success]
          =yield
