!!!

%html{html_attrs('en-US')}
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    %title Under Development
  %body
    %table.main_table{:width => '98%', :border => '1'}
      %tr.main_tr
        %td.lhs{:valign => 'top'} 
          %a{:href => '/login'}Login
          %br/
          %a{:href => '/register'}Register
          %br/
          Logged in as:
          %p{:style => "color:green"}=(session[:login]||"not_logged_in")
          %br/
          %a{:href => '/static/messages'}Messages
          %br/
          %a{:href => '/profile'}Profile
          %br/
          %a{:href => '/logout'}Logout

        %td.rhs{:valign => 'top'}
          %p{:style => "color:green"}= flash[:notice]
          =yield
